                <!-- begin article footer -->
                <footer class="article-footer">
                	{% if "event-start" in article.metadata %}
			<div class="event-footer">
			    <div class="event-date">
				    <span class="date dashicons dashicons-calendar"></span>
				      {% if DEFAULT_LANG == "de" %} 
	    				      {{ article.metadata["event-start-date"].strftime('%d.%m.%Y %H:%M') }}
					      -
	    				      {{ article.metadata["event-end-date"].strftime('%d.%m.%Y %H:%M') }}
				      {% else %} 
					      {{ article.metadata["event-start-date"].strftime('%Y-%m-%d %H:%M') }}
					      -
					      {{ article.metadata["event-end-date"].strftime('%Y-%m-%d %H:%M') }}
				      {% endif %}
			    </div>
			    <div class="event-location">
				    <span class="date dashicons dashicons-location"></span>
				    {{ article.metadata["location"] }}
			    </div>
			
			</div>
			{% endif %}
			{% if article.tags %}
			<div class="tag-footer">	
				<div class="tags grid_last">
					<span class="tags-title dashicons dashicons-tag"></span>
						<span class="the-tags">
						{% set spacecomma = joiner(", ") %}
						{% for tag in article.tags -%}
						{{ spacecomma() }}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
						{%- endfor %}
						</span>
				 </div>
			 </div>
			 {% endif %}
                   </footer>
                <!-- end article footer -->
