{% extends "base.html" %}

{% block languageChoser %}
<a class="lang-link" href="{{ extra_siteurls.values() | first() }}/{{page_name}}{{ articles_page.number if articles_page.number != 1 }}.html" title="View translated page"></a>
{% endblock languageChoser %}

{% block headerPicture %}
<img width="1140" height="300" class="image-process-header-image header-image attachment-flatdesign_header_image wp-post-image" src="{{ main_siteurl }}/{{ HEADER_PICTURE }}"  />
{% endblock headerPicture %}

{% block content %}
{% if tag|capitalize in VERBOSE_TAGS %}
<!-- begin page -->
<article class="clearfix page type-page status-publish hentry" role="article" itemscope itemtype="https://schema.org/BlogPosting">
    <header class="article-header">
        <h1 class="page-title" itemprop="headline">{{ VERBOSE_TAG_NAMES[tag|capitalize][DEFAULT_LANG] }}</h1>
    </header> <!-- end article header -->

    <section class="entry-content clearfix" itemprop="articleBody">
        {{ VERBOSE_TAGS[tag|capitalize][DEFAULT_LANG] }}
    </section> <!-- end article section -->

    <div class="page-posts">
    {% include 'includes/paginated_content.html' %}
    </div>
    <footer class="article-footer">
    </footer> <!-- end page footer -->

</article>

{% else %}
{% include 'includes/paginated_content.html' %}{
{% endif %}
{% endblock content %}
